@font-face {
  font-family: "Ownglyph_StudyHard-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_StudyHard-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Ownglyph_StudyHard-Rg", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.logo-text {
  font-size: 30px;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.logo-text:hover {
  transform: scale(1.03);
}

.menu-icon {
  font-size: 25px;
}

.login-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 50px;
}

.header-login-text {
  font-size: 25px;
  padding-left: 3px;
}

.login-container:hover .header-login-text,
.login-container:hover .menu-icon {
  transform: scale(1.03);
}


.loginName {
  font-size: 18px;
  margin-right: 50px;
}