@font-face {
  font-family: "Ownglyph_StudyHard-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_StudyHard-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.schedule-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.schedule-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 530px;
  display: flex;
  flex-direction: column;
}

.schedule-content {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.schedule-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.schedule-details {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px; 
}

.schedule-date {
  flex: 1; /* 남은 공간을 차지 */
}

.schedule-actions {
  display: flex; 
  gap: 10px; 
}

.schedule-info {
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit-button {
  background-color: rgb(159, 159, 230);
  color: white;
}

.edit-button:hover,
.delete-button:hover {
  translate: scale(1.03);
}

.delete-button {
  background-color: #e27580;
  color: white;
  margin-right: 10px;
}

.close-button {
  align-self: center;
  padding: 10px 20px;
  background-color: rgb(159, 159, 230);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

.modal_buttons {
    display: flex;
    gap: 10px;
}

/* 스크롤 영역의 전체 스타일 */
.schedule-content {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

/* 스크롤바 막대 css */
.schedule-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.schedule-content::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.schedule-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.schedule-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.schedule-content::-webkit-scrollbar-thumb:horizontal {
  background: #777;
}
